node_modules
!Dependencies/node_modules/
!Dependencies/node_modules/**
!Dependencies/runtime/nodejs/win-x64/node_modules/
Dependencies/runtime/nodejs/win-x64/node_modules/*
!Dependencies/runtime/nodejs/win-x64/node_modules/npm/
!Dependencies/runtime/nodejs/win-x64/node_modules/npm/**
.next
coverage
*.log
.DS_Store
*.tsbuildinfo
Dependencies/external/*
!Dependencies/external/.gitkeep
